.tooltip-container[b-yb8nuqiw1d] {
    position: relative; 
    display: inline-block;
    width: 100%;

}

.tooltip-content[b-yb8nuqiw1d] {
    cursor: pointer;

}

.tooltip-text[b-yb8nuqiw1d] {
    visibility: hidden;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 4px;
    z-index: 1;
    top: 125%; 
    left: 0%;
    opacity: 0;
}

.tooltip-container:hover .tooltip-text[b-yb8nuqiw1d] {
    visibility: visible;
    opacity: 1;
}
