.card[b-1hzi73ai84] {
    background-color: black;
    border-color: black;
    margin: 0px;
    margin-bottom: 5px;
    border-radius: 40px;
    height: 60px;
    line-height: 12pt;
}

    .card:hover[b-1hzi73ai84] {
        background-color: black;
        border-color: black;
        margin: 0px;
        margin-bottom: 5px;
        border-radius: 40px;
    }

.card-title[b-1hzi73ai84] {
    font-family: 'League Spartan';
    font-size: 15pt;
    font-weight: 800;
    color: #ff6a00;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin: 0px;
}

.card-text[b-1hzi73ai84] {
    font-family: 'Libre Baskville Italic';
    font-style: italic;
    font-size: 10pt;
    font-weight: 100;
    color: #ff6a00;
    padding-bottom: 0px;
    margin: 0px;
}
