h5[b-ti1ka7zpx7] {
    font-size: 30pt;
}

.card[b-ti1ka7zpx7] {
    height: 80px;
}

.bottomright[b-ti1ka7zpx7] {
    position: absolute;
    bottom: 5px;
    right: 16px;
    font-family: 'Libre Baskville Normal';
    font-size: 10pt;
    font-weight: 100;
    color: #ff6a00;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.card:hover[b-ti1ka7zpx7] {
    background-color: #f7efc2;
    border-color: #ff6a00;
    margin: 0px;
    margin-bottom: 5px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.underline-text[b-ti1ka7zpx7] {
    text-decoration: underline;
}

    .underline-text:hover[b-ti1ka7zpx7] {
        color: black;
    }
